*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.rightSide{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.rightSide button{
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    border: none;
    border-radius: 20px;
}

.rightSide h1{
    font-size: 5rem;
    padding: 10px;
}

.rightSide p{
    padding: 5px;
}

.leftSide{
    display: flex;
    height: 60vh;
    padding: 10px;
}

@media screen and (max-width:920px) {
    .container{
        flex-direction: column;
    }
    .leftSide{
        overflow: hidden;
    }
}